@model TaskManagement.Models.ApplicationUser

@{
    ViewData["Title"] = "Dashboard";
}

<div class="dash-container">
    <!-- Welcome Text -->
    <h2>Welcome, @Model.Nickname!</h2>

    <!-- Boxes -->
    <div class="row">
        <!-- First row of three objects -->
        <div class="col-md-4">
            <a href="/Profile/EditProfile" class="dashboard-box dashboard-box-style">
                @if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
                {
                    <img src="@Model.ProfilePicturePath" alt="Profile Picture" style="width: 190px; height: 190px; border-radius: 10%; object-fit: contain;" />
                }
                else
                {
                    <img src="/images/profileExamples/profile2.jpeg" alt="Default Profile Picture" style="width: 190px; height: 190px; border-radius: 10%; object-fit: contain;" />
                }
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Task/Index" class="dashboard-box dashboard-box-style">
                <img src="/images/icons/tanks_icon2.png" alt="Tasks Icon" class="dashboard-icon" />
                <span>Tasks</span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Board/Index" class="dashboard-box dashboard-box-style">
                <img src="/images/icons/Boards_icon.png" alt="Boards Icon" class="dashboard-icon" />
                <span>Boards</span>
            </a>
        </div>
    </div>

    <div class="row">
        <!-- Second row of three objects -->
        <div class="col-md-4">
            <a href="/Calendar" class="dashboard-box dashboard-box-style">
                <img src="/images/icons/calender_icon.png" alt="Calendar Icon" class="dashboard-icon" />
                <span>Calendar</span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Friendship/GetFriends" class="dashboard-box dashboard-box-style">
                <img src="/images/icons/friends icon.png" alt="Friends Icon" class="dashboard-icon" />
                <span>Friends</span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/Notification" class="dashboard-box dashboard-box-style">
                <img src="/images/icons/notifications_icon.png" alt="Notifications Icon" class="dashboard-icon" />
                <span>Notifications</span>
            </a>
        </div>
    </div>
</div>
