@{
    ViewData["Title"] = "Home";
}
<div class="hero">
    <div class="hero-section">
        <h1>Overwhelmed by chaos? Let ZenTask bring clarity to your day!</h1>
        <p>Easily organize your schedule, prioritize what truly matters, and collaborate seamlessly with your team. Everything you need, all in one place</p>
        <p>Organize tasks effortlessly. Focus on what matters.</p>
    </div>
    <div class="right-section">
        <div class="button-section">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Get Started</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary">Log In</a>
        </div>
        <div class="image-section">
            <img src="images/logo/zentaskslogo.png" alt="Zentask Logo" />
        </div>
    </div>
</div>

<div class="about">
    <h2>Why use ZenTasks?</h2>
    <div class="features">
        <div class="feature">
            <img src="/images/calendar-icon.png" alt="Calendar Icon" />
            <h3>Simplify</h3>
            <p>Simplify your schedule with our intuitive interfaces.</p>
        </div>
        <div class="feature">
            <img src="/images/prioritize-icon.png" alt="Prioritize Icon" />
            <h3>Prioritize</h3>
            <p>Prioritize tasks and meet deadlines.</p>
        </div>
        <div class="feature">
            <img src="/images/collaborate-icon.png" alt="Collaborate Icon" />
            <h3>Collaborate</h3>
            <p>Collaborate with your team effortlessly.</p>
        </div>
    </div>
</div>