.board {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: move;
}

h2 {
    text-align: center;
}

/* Endrer fargen på status "to do" etc. når vist i task view */
.badge {
    color: #000000;
}